.row {
  display: flex;
  flex-direction: row;
}
.ver-c {
  align-items: center;
  height: 32px;
  margin-bottom: 4px;
}
.content {
  display: flex;
  flex-direction: column;
}
.b-important {
  color: red;
  height: 14px;
}
.error-number-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  height: 20px;
  margin-top: 4px;
}
.window-height {
  height: 40px;
}
.dh10 {
  height: 10px;
}